Repository Mineinjava/discord-splash, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, enhancement

Create open_todo_issues.yml
  .github/workflows/open_todo_issues.yml
Labels: none

Update open_todo_issues.yml
  .github/workflows/open_todo_issues.yml
Labels: none

Update open_todo_issues.yml
  .github/workflows/open_todo_issues.yml
Labels: none

Update todo.py
  .github/todo.py
Labels: none

Update todo.py
  .github/todo.py
Labels: none

Update todo.py
  .github/todo.py
Labels: none

Update todo.py
  .github/todo.py
Labels: none

Create release-drafter.yml
  release-drafter.yml
Labels: none

Fix #34
  discordSplash/main.py
Labels: enhancement

fix the examples
  examples/main.py
Labels: example

Delete codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

fix #74
  .github/todo.py
  .gitignore
  discordSplash/__init__.py
  discordSplash/cfg.py
  discordSplash/channel.py
  discordSplash/main.py
  discordSplash/member.py
  examples/main.py
Labels: example, enhancement

Update setup.py
  setup.py
Labels: none

Delete release-drafter.yml
  release-drafter.yml
Labels: none

Create release-drafter.yml
  .github/release-drafter.yml
Labels: none

Improve Resuming with websockets... ...ConnectionClosedOK
  discordSplash/main.py
Labels: enhancement

Begin fixing #35
  discordSplash/cfg.py
  discordSplash/main.py
Labels: enhancement

Add followup data support and remove TODO's
  discordSplash/main.py
  docs/_build/doctrees/discordSplash.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/html/_sources/discordSplash.rst.txt
  docs/_build/html/discordSplash.html
  docs/_build/html/genindex.html
  docs/_build/html/modules.html
  docs/_build/html/objects.inv
  docs/_build/html/searchindex.js
  docs/discordSplash.rst
Labels: documentation, enhancement

Support command parameter parsing part one
  discordSplash/main.py
Labels: enhancement

implement the options
  discordSplash/main.py
Labels: enhancement

Revert "Mineinjava feature 1"
  discordSplash/main.py
Labels: enhancement

update command info
  discordSplash/main.py
Labels: enhancement

Update cfg.py
  discordSplash/cfg.py
Labels: enhancement

Update setup.py
  setup.py
Labels: none

Update setup.py
  setup.py
Labels: none

implement the ratelimits
  .gitignore
  discordSplash/__init__.py
  discordSplash/guild.py
  discordSplash/main.py
  discordSplash/ratelimit.py
Labels: enhancement

fix imports
  discordSplash/__init__.py
  discordSplash/cfg.py
  discordSplash/guild.py
  discordSplash/main.py
  discordSplash/member.py
Labels: enhancement

Update main.py
  discordSplash/main.py
Labels: enhancement

fix where I messed up
  discordSplash/main.py
Labels: enhancement

Fix docs
  discordSplash/main.py
Labels: enhancement

bump version
  setup.py
Labels: none

Return guild object and guild id in reactiondata
  discordSplash/main.py
Labels: enhancement

fix things
  discordSplash/main.py
  requirements.txt
  setup.py
Labels: enhancement

fix options
  discordSplash/main.py
  setup.py
Labels: enhancement

fix everything I think
  discordSplash/__init__.py
  discordSplash/guild.py
  discordSplash/main.py
  discordSplash/member.py
  discordSplash/ratelimit.py
  setup.py
Labels: enhancement

start setting stuff up
  discordSplash/__init__.py
  discordSplash/audit_log.py
  discordSplash/cfg.py
  discordSplash/channel.py
  discordSplash/emoji.py
  discordSplash/gateway.py
  discordSplash/guild.py
  discordSplash/invite.py
  discordSplash/main.py
  discordSplash/member.py
  discordSplash/opcodes.py
  discordSplash/ratelimit.py
  discordSplash/request.py
  discordSplash/template.py
  discordSplash/webhook.py
  docsrequirements.txt
  examples/main.py
  requirements.txt
  setup.py
Labels: example, enhancement

finish the requests/ratelimit
  .gitignore
  discordSplash/__init__.py
  discordSplash/abstractbaseclass.py
  discordSplash/enums.py
  discordSplash/exception.py
  discordSplash/gateway.py
  discordSplash/main.py
  discordSplash/presence.py
  discordSplash/request.py
  discordSplash/user.py
  discordSplash/util.py
  docs/FAQ.rst
  docs/Todo.rst
  docs/_build/doctrees/discordSplash.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/doctrees/index.doctree
  docs/_build/html/.buildinfo
  docs/_build/html/_sources/discordSplash.rst.txt
  docs/_build/html/_sources/index.rst.txt
  docs/_build/html/discordSplash.html
  docs/_build/html/genindex.html
  docs/_build/html/index.html
  docs/_build/html/modules.html
  docs/_build/html/objects.inv
  docs/_build/html/search.html
  docs/_build/html/searchindex.js
  docs/conf.py
  docs/discordSplash.rst
  docs/examples/bots.rst
  docs/examples/commands.rst
  docs/examples/index.rst
  docs/index.rst
Labels: documentation, enhancement

Added lots of things
  .gitignore
  discordSplash/__init__.py
  discordSplash/abstractbaseclass.py
  discordSplash/commands.py
  discordSplash/enums.py
  discordSplash/gateway.py
  discordSplash/presence.py
  discordSplash/request.py
  docs/_build/doctrees/discordSplash.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/html/discordSplash.html
  docs/_build/html/genindex.html
  docs/_build/html/objects.inv
  docs/_build/html/searchindex.js
  docs/conf.py
Labels: documentation, enhancement

Add a lot
  .vscode/settings.json
  discordSplash/activity.py
  discordSplash/channel.py
  discordSplash/enums.py
  discordSplash/events.py
  discordSplash/exception.py
  discordSplash/gateway.py
  discordSplash/main.py
  discordSplash/member.py
  discordSplash/message.py
  discordSplash/slashCommand.py
  discordSplash/user.py
Labels: enhancement

(BAD) message listener
  discordSplash/__init__.py
  discordSplash/abstractbaseclass.py
  discordSplash/events.py
  discordSplash/gateway.py
  discordSplash/message.py
Labels: enhancement

.github/labeler.yml:

documentation:
 - docs/*

example:
 - examples/*
 
enhancement:
 - discordSplash/*
