Repository Mineinjava/discord-splash, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, example, enhancement

Add message.delete
  discordSplash/events.py
  discordSplash/message.py
  discordSplash/request.py
Labels: enhancement

Send messages
  discordSplash/channel.py
  discordSplash/message.py
  discordSplash/request.py
Labels: enhancement

Update gateway.py
  discordSplash/gateway.py
Labels: enhancement

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update Slashcommands
  discordSplash/channel.py
  discordSplash/interaction.py
  discordSplash/message.py
  discordSplash/slashCommand.py
Labels: enhancement

Update channel.py
  discordSplash/channel.py
Labels: enhancement

update everything to be consistent
  discordSplash/commands.py
  discordSplash/events.py
  discordSplash/exception.py
  discordSplash/gateway.py
  discordSplash/interaction.py
  discordSplash/member.py
  discordSplash/message.py
  discordSplash/presence.py
  discordSplash/request.py
  discordSplash/slashCommand.py
  discordSplash/user.py
Labels: enhancement

Resolve #164
  discordSplash/interaction.py
Labels: enhancement

Resolve #164
  discordSplash/interaction.py
Labels: enhancement

update everything to be consistent
  discordSplash/commands.py
  discordSplash/events.py
  discordSplash/exception.py
  discordSplash/gateway.py
  discordSplash/interaction.py
  discordSplash/member.py
  discordSplash/message.py
  discordSplash/presence.py
  discordSplash/request.py
  discordSplash/slashCommand.py
  discordSplash/user.py
Labels: enhancement

Add ComponentType enum
  discordSplash/interaction.py
Labels: enhancement

Update greetings.yml
  .github/workflows/greetings.yml
Labels: none

Remove '?' From Args
  discordSplash/channel.py
  discordSplash/member.py
Labels: enhancement

Update python-package.yml
  .github/workflows/python-package.yml
Labels: none

Update python-package.yml
  .github/workflows/python-package.yml
Labels: none

Update python-package.yml
  .github/workflows/python-package.yml
Labels: none

autopep8 action fixes
  discordSplash/__init__.py
  discordSplash/cfg.py
  discordSplash/channel.py
  discordSplash/guild.py
  discordSplash/main.py
  discordSplash/member.py
  discordSplash/ratelimit.py
  docs/conf.py
  examples/main.py
  setup.py
Labels: documentation, example, enhancement

autopep8 action fixes
  discordSplash/__init__.py
  discordSplash/cfg.py
  discordSplash/channel.py
  discordSplash/guild.py
  discordSplash/main.py
  discordSplash/member.py
  discordSplash/ratelimit.py
  docs/conf.py
  examples/main.py
  setup.py
Labels: documentation, example, enhancement

rename `member.py` to `guild.py`
  .github/todo.py
  discordSplash/guild.py
  discordSplash/interaction.py
Labels: enhancement

create role object
  discordSplash/guild.py
Labels: enhancement

Update python-package.yml
  .github/workflows/python-package.yml
Labels: none

Update python-package.yml
  .github/workflows/python-package.yml
Labels: none

oops
  discordSplash/guild.py
Labels: enhancement

Update python-package.yml
  .github/workflows/python-package.yml
Labels: none

new event handling
  discordSplash/events.py
  discordSplash/gateway.py
Labels: enhancement

Update python-package.yml
  .github/workflows/python-package.yml
Labels: none

Update events.py
  discordSplash/events.py
Labels: enhancement

fix import
  discordSplash/gateway.py
Labels: enhancement

Handle opcode 7 RECONNECT
  discordSplash/gateway.py
Labels: enhancement

.github/labeler.yml:

documentation:
 - docs/*

example:
 - examples/*
 
enhancement:
 - discordSplash/*
