Repository Mineinjava/discord-splash, pull requests merged in 2021-03, with the labels that each got.

#37 Add RESUME data
  discordSplash/__init__.py
  discordSplash/guild.py
  discordSplash/member.py
Labels: High Priority, bug, enhancement

#44 fix circular imports and make it more professional.
  discordSplash/__init__.py
  discordSplash/guild.py
  discordSplash/main.py
  discordSplash/member.py
Labels: enhancement

#46 Mineinjava dev
  .github/todo.py
  discordSplash/audit_log.py
  discordSplash/guild.py
  discordSplash/main.py
  discordSplash/member.py
Labels: enhancement

#73 fix the examples
  examples/main.py
Labels: example

#77 Improve Resuming with websockets... ...ConnectionClosedOK
  discordSplash/main.py
Labels: enhancement

#78 Fix #35
  discordSplash/cfg.py
  discordSplash/main.py
  docs/_build/doctrees/discordSplash.doctree
  docs/_build/doctrees/environment.pickle
  docs/_build/html/_sources/discordSplash.rst.txt
  docs/_build/html/discordSplash.html
  docs/_build/html/genindex.html
  docs/_build/html/modules.html
  docs/_build/html/objects.inv
  docs/_build/html/searchindex.js
  docs/discordSplash.rst
Labels: TODO, bug, documentation, enhancement

#80 Mineinjava feature 1
  discordSplash/main.py
Labels: enhancement

#79 Support command parameter parsing part one
  discordSplash/main.py
Labels: enhancement

#84 Add slash command option parsing
  discordSplash/main.py
Labels: enhancement

#72 Fix Some Issues
  discordSplash/main.py
Labels: enhancement

#88 fix imports
  discordSplash/__init__.py
  discordSplash/cfg.py
  discordSplash/guild.py
  discordSplash/main.py
  discordSplash/member.py
Labels: enhancement

#90 Support ratelimits (alpha)
  .gitignore
  discordSplash/__init__.py
  discordSplash/guild.py
  discordSplash/main.py
  discordSplash/ratelimit.py
Labels: enhancement
